<section class="app flex-container" fxLayout="column" fxLayoutAlign="start stretch">
  <mat-sidenav-container fxFlex fullscreen>
    <!-- header bar -->
    <mat-toolbar color="primary" class="mat-elevation-z10 navbar">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>AM Fusion</span>
      <mat-icon *ngIf="!isMobile()">more_vert</mat-icon>
      <span *ngIf="!isMobile()">{{getPageName()}}</span>
      <form class="navbar-search" (ngSubmit)="searchQuery()" *ngIf="!isTab()">
        <mat-icon>search</mat-icon>
        <input type="text" name="search_query" [(ngModel)]="search_query" class="search-query" placeholder="SEARCH HERE" autocomplete="off">
      </form>
      <div _ngcontent-c1="" class="flex-spacer"></div>
      <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Feedback">
        <mat-icon>feedback</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="Profilemenu" matTooltip="Profile">
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar>
    <!-- main route links -->
    <mat-sidenav #sidenav mode="over" class='navMenu'>
      <nav *ngFor="let item of navMenu; index as i;">
        <h3>{{item.heading}}</h3>
        <div *ngFor="let menu of item.menu; index as m;" class="mainMenu">
          <ul *ngIf="!menu.hasSubMenu">
            <li>
              <a [href]="menu.url||'#'">
                <span>{{menu.label}}</span>
              </a>
            </li>
          </ul>
          <mat-expansion-panel *ngIf="menu.hasSubMenu" class="subMenu">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{menu.label}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let smenu of menu.submenu; index as sm;">
              <ul>
                <li>
                  <a [href]="smenu.url||'#'">
                    <span>{{smenu.label}}</span>
                  </a>
                </li>
              </ul>
            </div>
          </mat-expansion-panel>
        </div>

      </nav>
    </mat-sidenav>
    <!-- profile side navigaton -->
    <mat-sidenav #profilebar mode="over" align="end" opened='{{openProfilebar}}' class="mat-elevation-z6 profileNavBar">
      <mat-tab-group>
        <mat-tab label="Profile">
          <div class="tab-body-alignment">
            <app-user [user]='currentUser'></app-user>
          </div>
        </mat-tab>
        <mat-tab label="Settings">
          <div class="tab-body-alignment">
            <app-settings></app-settings>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav>
    <!-- feedback menu in topbar -->
    <mat-menu x-position="before" #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Call 9491-251-810</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>You can't check your voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Do Not Disturb</span>
      </button>
    </mat-menu>
    <!-- profile menu in top bar -->
    <mat-menu x-position="before" #Profilemenu="matMenu">
      <button mat-menu-item (click)="openProfileBar()">
        <mat-icon>person_outline</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)='doLogout()'>
        <mat-icon>exit_to_app</mat-icon>
        <span>Log Off</span>
      </button>
    </mat-menu>
    <!-- Main Content -->
    <div>
      <ng-content></ng-content>
    </div>
  </mat-sidenav-container>
</section>