<div class="login-wrapper">
  <div class="container">
    <div class="profile--open">
      <div class="animated animation">
        <mat-card class="profile__form">
          <div class="text-center">
            <div class="icon-object text-warning">
              <i class="material-icons">security</i>
            </div>
            <h5 class="content-group">Autherization</h5>
            <div>
              <small class="display-block">Enter the autherization code that you have recieved through phone / email</small>
            </div>
            <form name="form" #form="ngForm" novalidate>
              <div>
                <mat-form-field [floatPlaceholder]="always" class="example-full-width" style="margin-top:1em;">
                  <input matInput type="text" maxlength="6" [(ngModel)]="otp" id="otp" name="otp" pattern="^[0-9]{6}$" placeholder="Enter OTP Here"
                    required>
                  <mat-icon matSuffix>lock</mat-icon>
                  <mat-hint align="end">{{otp? otp.length:'0'}} / 6</mat-hint>
                </mat-form-field>
              </div>
              <div>
                <button mat-raised-button color="warn" class="btn-lg" routerLink="/confirmPassword" [disabled]="!form.valid">
                  Next
                  <mat-icon class="nextIcon" aria-label="reset password icon" style="color:#fff; margin-left: 10px;">arrow_forward</mat-icon>
                </button>
              </div>
              <div class="forgot_register">
                <ul class="login-navigation">
                  <li class="bgm-green" routerLink="/forgotPassword">Back</li>
                </ul>
              </div>
            </form>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>