<div class="login-wrapper">
  <div class="container">
    <div class="error-div">
      <div class="login-error" [hidden]="!isLoginFail">
        <div>
          <span class="err-msg"> <i class="material-icons">error</i> Something is not right, try again.</span>
        </div>
      </div>
    </div>
    <div class="profile--open">
      <div class="avatar">
        <span href="" target="_blank"><img src="assets/img/logo.png"></span>
      </div>
      <form class="profile__form" name="form" #form="ngForm" novalidate>
        <div>
          <div class="field">
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="user.email" id="email" name='email' required placeholder="Email" #email="ngModel">
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
          </div>
          <div class="field">
              <mat-form-field class="example-full-width">
                  <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" id="password" name='password' required placeholder="Password"
                  #password='ngModel'>
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                  <mat-hint align="end">Password is case-sensitive</mat-hint>
                </mat-form-field>
          </div>
          <div class="profile__footer">
            <button mat-raised-button color="primary" class="btn-lg" (click)="getLogin()" *ngIf="!tryingToLogin" [disabled]="!form.valid">Login</button>
            <button mat-raised-button disabled class="btn-lg" *ngIf="tryingToLogin">Please Wait... </button>
            <div class="forgot_register">
              <ul class="login-navigation">
                <li class="bgm-red" routerLink="/register">Register</li>
                <li class="bgm-orange" routerLink="/forgotPassword">Forgot Password?</li>
              </ul>
            </div>
          </div>
          <div class="text-center">
            <google-signin></google-signin>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
