@import '../forgot-password/forgot-password.component.scss';

.container{
    animation: none !important;
}
.icon-object{
    transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    background-color: #3F51B5;
    border-color: #92a2fb;
}
.green{
    color: #21d421 !important;
}
.red{
    color: #ec2626 !important;
}
.warn{
    color: #FF9800  !important;
}