<div class="login-wrapper">
  <div class="container">
    <div class="error-div">
      <div class="login-error" *ngIf="isLoginFail">
        <div>
          <i class="material-icons">error</i>
          <span class="err-msg">Something is not right, try again.</span>
        </div>
      </div>
    </div>
    <div class="profile--open">
        <div class="animated jackInTheBox">
            <mat-card class="profile__form"> 
              <div class="text-center">
                <div class="icon-object text-warning">
                  <i class="material-icons">restore</i>
                </div>
                <h5 class="content-group">Password recovery</h5>
                <div>
                  <small class="display-block">Please provide your account’s email and we will send you a link to reset your password.</small>
                </div>
                <form>
                  <div>
                    <mat-form-field [floatPlaceholder]="never" class="example-full-width" style="margin-top:1em;">
                      <input matInput type="email" placeholder="Enter Your Account Email" required>
                      <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                  </div>
                  <div>
                    <button mat-raised-button color="warn" class="btn-lg">Reset Password
                      <mat-icon aria-label="reset password icon" style="color:#fff; margin-left: 10px;">trending_flat</mat-icon>
                    </button>
                  </div>
                  <div class="forgot_register">
                    <ul class="login-navigation">
                      <li class="bgm-green" routerLink="/login">Login</li>
                    </ul>
                  </div>
                </form>
              </div>
            </mat-card>
          </div>
    </div>
  </div>
</div>

  