@import '../login/login.component.scss';

.text-warning, .text-warning:focus, .text-warning:hover {
    color: #ff5722!important;
}
.text-center {
    text-align: center;
    h5{
        font-family: inherit;
        line-height: 1.5384616;
        color: inherit;
        letter-spacing: -.015em;
        font-size: 17px;
    }
    small{
        font-weight: 400;
        line-height: 1.5;
        color: #999;
    }
}
.icon-object {
    border-radius: 50%;
    text-align: center;
    margin: 10px;
    border-width: 3px;
    border-style: solid;
    padding: 15px;
    display: inline-block;
    width: 55px;
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}
.display-block, label.display-block {
    display: block;
}

.content-group {
    margin-bottom: 10px!important;
    margin-top: 10px;
}
.icon-object>i {
    font-size: 50px;
    top: 0;
}
mat-icon{
    color:#949494
}
.forgot_register{
    margin: 1rem;
}
.bgm-green {
    background-color: #32a540 !important;
}
.profile__form{
    padding-top: 1em !important;
}
.jackInTheBox {
animation-name: jackInTheBox !important;
}
@keyframes jackInTheBox {
    from {
      opacity: 0;
      transform: scale(0.1) rotate(30deg);
      transform-origin: center bottom;
    }
  
    50% {
      transform: rotate(-10deg);
    }
  
    70% {
      transform: rotate(3deg);
    }
  
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  

.animated {
    -webkit-animation-duration:1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
