/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './assets/_scss/_loaders.scss';
@import './assets/_scss/_variables.scss';
@import "~ngx-toastr/toastr";
// some basic resets
.app {
    height: 100vh; // emmet h100vh
}

body {
    padding: 0;
    margin: 0;
    // font-family: Roboto, sans-serif;
    font: 16px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif !important; 
    background-color: transparent; 
    -webkit-font-smoothing: antialiased;
}
.width-full{
    width: 100%;
}
.text-right{
    text-align: right !important;
}
.text-center{
    text-align: center !important;
}
.text-left{
    text-align: left !important;
}
#toast-container .toast.toast-success {
    background-image: url("/assets/img/done.png") !important;
}
#toast-container .toast.toast-info {
    background-image: url("/assets/img/info.png") !important;
  }
#toast-container .toast.toast-error {
    background-image: url("/assets/img/clear.png") !important;
}