/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './assets/loaders.scss';
// some basic resets
.app {
    height: 100vh; // emmet h100vh
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}
.width-full{
    width: 100%;
}
.text-right{
    text-align: right !important;
}
.text-center{
    text-align: center !important;
}
.text-left{
    text-align: left !important;
}